<?xml version="1.0"?>

<config>
    <modules>
        <SaveTheMage_ChangeOrderNumber>
            <version>1.1.1</version>
        </SaveTheMage_ChangeOrderNumber>
    </modules> 

    <global>
        <blocks>
            <ChangeOrderNumberBlock1>
            	<class>SaveTheMage_ChangeOrderNumber_Block</class>
           </ChangeOrderNumberBlock1>  
        </blocks>
        <helpers>
            <ChangeOrderNumberHelper1>
                <class>SaveTheMage_ChangeOrderNumber_Helper</class>
            </ChangeOrderNumberHelper1>
        </helpers>  
        <models>
                <!-- ... -->
                <savethemagechangeordernumber>
                    <class>SaveTheMage_ChangeOrderNumber_Model</class>
                </savethemagechangeordernumber>   
                <!-- ... -->
            </models>	
	</global>    

	<admin>
		<routers>
		   <ChangeOrderNumber>
                <use>admin</use>
                <args>
                    <module>SaveTheMage_ChangeOrderNumber_AdminControllersHere</module>
                    <frontName>ChangeOrderNumber</frontName>                   
                    <modules>
		    <changeordernumber after="SaveTheMage_ChangeOrderNumber_AdminControllersHere">Mage_Adminhtml</changeordernumber>
		    </modules>
                </args>
		   </ChangeOrderNumber>		     
	     </routers>    	
	</admin>
	
    <adminhtml>
        <menu>
             <SaveTheMageMenu translate="title" module="ChangeOrderNumberHelper1">
                <title>SaveTheMage</title>
                <sort_order>201</sort_order>
                <children>
                    <ChangeOrderNumberChildItem1 translate="title" module="ChangeOrderNumberHelper1">
                        <title>Change Order and Invoice Numbers</title>
                        <action>ChangeOrderNumber/ChangeOrderNumber</action>
                        <sort_order>3</sort_order>                        
                    </ChangeOrderNumberChildItem1>
	       </children>
             </SaveTheMageMenu>
        </menu>
	</adminhtml>    
    
</config>